.jumbotron {
    background-color: darkblue;
}

.display-4 {
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 15px;
}
